$contentWidth: 1200px;

$layer1: 100;
$layer2: 200;
$layer3: 300;
$layer4: 400;
$layer5: 500;
$layer6: 600;

$colorWhite: #fff;
$colorBlack: #000;

$colorRaisinBlack: #1C1C23;
$colorRaisinBlack2: #23232C;
$colorJet: #343440;
$colorDarkLiver: #3C3C4A;

$colorDavysGrey: #5D5D5D;
$colorDimGray: #6A6A6A;
$colorGreyWeb: #7D7C7C;
$colorBattleshipGrey: #8C8C8C;

$colorCultured2: #F4F4F6;
$colorPlatinum: #EBEBEB;
$colorLightGray: #D1D1D6;

$colorFlickrBlue: #2663E5;
$colorCeruleanBlue: #235AD0;
